div{
    background-color: rgb(114, 186, 250);
    width: 100px;
    height: 100px;
    display: inline;
}
span{
    background-color: rgb(255, 138, 138);
    width: 100px;
    height: 100px;
    
    display: inline;
}