.cantainer{
    display: flex;
    border: 10px solid black;
    height: 90vh;
    flex-wrap: wrap-reverse;
    align-content: space-between;
}
.box{
    width: 150px;
    height: 150px;
    font-size: 7em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: hsl(0, 100%, 75%);
}
#box2{
    background-color: hsl(70, 100%, 74%);
}
#box3{
    background-color: hsl(107, 100%, 76%);
}
#box4{
    background-color: hsl(183, 100%, 75%);
}