#box{
    background-color: rgb(127, 249, 255);
    height: 200px;
    width: 200px;
    position: sticky;
    top: 0px;
    left: 0px;
}
#box2{
    background-color: rgb(250, 94, 94);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50px;
    left: 50px;
}