h1::first-letter{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color: rgb(245, 255, 156);
}
p::selection{
    color: rgb(34, 255, 0);
    background-color: rgb(89, 89, 89);
}
/* #fruits li::before{
    content: "✔";
} */
#apple::after{
    content: "🍎";
}

#banana::after{
    content: "🍌";
}

#grapes::after{
    content: "🍇";
}
#fruits li::marker{
    content: "✔";
    color: rgb(0, 255, 21);
    font-size: 1.2em;
}