h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 26%);
    padding:0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 13%);
}
.navbar li{
    float: left;
}